/* 引入动画 */

@import './animations/loading.scss';

/* 引入动画 end */

.page__loading {
    margin: 20px;
    padding: 0;
    .loadingItem {
        float: left;
        margin: 10px;
        width: 140px;
        &>div {
            margin: 0 auto;
        }
    }
    .battery {
        border: 1px solid #333;
        height: 20px;
        position: relative;
        width: 60px;
        &:before,
        &:after {
            content: ' ';
            display: block;
        }
        &:before,
        .battery--capacity {
            background-color: #333;
            height: 100%;
            width: 100%;
        }
        &:after,
        .battery--electrode {
            background-color: #333;
            border: 1px solid #333;
            height: 8px;
            right: -6px;
            position: absolute;
            top: 5px;
            width: 4px;
        }
    }
    .location {
        height: 30px;
        position: relative;
        width: 30px;
        &:before {
            border: 2px solid #333;
            content: '';
            display: block;
            height: 20px;
            position: absolute;
            top: 0;
            width: 20px;
            z-index: 1;
        }
        &:after {
            background-color: #dfdfdf;
            bottom: 1px;
            content: '';
            display: block;
            height: 8px;
            left: -3px;
            position: absolute;
            width: 26px;
            z-index: 0;
        }
    }
    .cube {
        $size: 22px;
        border: 1px solid #333;
        height: $size;
        position: relative;
        width: $size;
        &:before {
            background-color: #333;
            content: '';
            display: block;
            height: 100%;
            margin-top: 0;
            width: 100%;
            opacity: 1;
        }
        &:after {
            $size: 5px;
            background-color: #333;
            content: '';
            height: $size;
            left: -7px;
            position: absolute;
            top: -7px;
            width: $size;
        }
    }
    .rectangle {
        background-color: #333;
        font-size: 0;
        height: 20px;
        left: 30px;
        overflow: visible;
        position: relative;
        width: 100px;
        &:after {
            background-color: #333;
            content: '';
            display: inline-block;
            height: 20px;
            margin-right: 2px;
            width: 8px;
        }
    }
    div.rectangle {
        margin: 0;
    }
    .ball {
        $size: 30px;
        border: 1px solid #333;
        border-radius: 50%;
        height: $size;
        position: relative;
        width: $size;
        &:after {
            $size: 6px;
            background-color: #333;
            border-radius: 50%;
            content: '';
            display: block;
            height: $size;
            left: 11px;
            position: absolute;
            top: 0;
            width: $size;
        }
    }
    .dashboard {
        $size: 30px;
        border: 2px solid #333;
        border-radius: 50%;
        height: $size;
        position: relative;
        width: $size;
        &:after {
            background-color: #333;
            border-radius: 0 0 20px 20px;
            bottom: 0;
            content: '';
            display: block;
            height: 9px;
            position: absolute;
            width: 100%;
        }
        &:before {
            background-color: #333;
            content: '';
            display: block;
            height: 13px;
            left: 12px;
            position: absolute;
            top: 5px;
            transform-origin: left bottom;
            width: 2px;
        }
    }
    .circle {
        font-size: 0;
        width: 30px;
        &:after {
            $size: 10px;
            background-color: rgba(51, 51, 51, 0.6);
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: $size;
            width: $size;
        }
    }
    div.circle {
        margin-top: 10px;
    }
    .threeCircle {
        $size: 6px;
        background-color: #333;
        border-radius: 50%;
        height: $size;
        left: -12px;
        position: relative;
        top: 10px;
        width: $size;
    }
    .clock {
        $size: 30px;
        border: 2px solid #333;
        border-radius: 50%;
        height: $size;
        position: relative;
        width: $size;
        &:before,
        &:after {
            content: '';
            display: block;
            left: 12px;
            position: absolute;
            transform-origin: center bottom;
        }
        &:before {
            background-color: #333;
            height: 7px;
            top: 7px;
            width: 2px;
        }
        &:after {
            background-color: #333;
            height: 11px;
            top: 3px;
            width: 2px;
        }
    }
    .coffee {
        border: 1px solid #333;
        border-radius: 0 0 6px 6px;
        height: 24px;
        position: relative;
        top: 5px;
        width: 23px;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }
        &:before {
            background-color: #333;
            height: 5px;
            left: 4px;
            top: -8px;
            width: 1px;
        }
        &:after {
            border: 1px solid #333;
            border-left: none;
            border-radius: 0 20px 20px 0;
            height: 14px;
            left: 21px;
            top: 0;
            width: 9px;
        }
    }
}

.borderradius .page__loading {
    .battery {
        border-radius: 3px;
    }
    .location:after {
        border-radius: 50%;
    }
    .location:before {
        border-radius: 10px 10px 10px 0;
    }
}

.csstransforms .page__loading {
    .location:before {
        transform: rotate(-45deg)
    }
}


/* 经测试，css-animation只支持到IE9 */

.cssanimations .page__loading {
    .battery:before {
        animation: battery--capacity__charging 5s infinite steps(100, end);
    }
    .location:before {
        animation: location__position 1s infinite;
    }
    .cube:before {
        animation: cube 10s infinite;
    }
    .cube:after {
        animation: cube__position 2s infinite;
    }
    .rectangle {
        animation: rectangle 2s linear infinite;
    }
    .rectangle:after {
        animation: rectangle__loading 2s linear infinite;
    }
    .ball {
        animation: ball__transform 2s infinite;
    }
    .dashboard:before {
        animation: dashboard--hand 3s infinite;
    }
    .circle {
        animation: circle__rotate 2s infinite;
        &:after {
            animation: circle__size 2s infinite;
        }
    }
    .threeCircle {
        animation: threeCircle 2s linear infinite alternate;
    }
    .clock:before {
        animation: clock--hand 5s linear infinite;
    }
    .clock:after {
        animation: clock--hand 2s linear infinite;
    }
    .coffee:before {
        animation: coffee 2s infinite;
    }
}